.loader-container {
    width: 100%;
    height: 100vh;
    position: fixed;
    background: rgb(255, 255, 255) url("https://cdn.dribbble.com/users/408943/screenshots/2887008/media/5292aff30094d74fffd87a0dba58fa4e.gif") center no-repeat;
    z-index: 1;
}