/*************************** BODY,HTML ***************************/
body, html{
  margin:0px;
  padding:0px;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: auto;
}

/*************************** NAVBAR ***************************/
#navbar {
  background-color: #2f3640;
  position: relative;
  top: 0;
  width: 100%;
  overflow: hidden;
}
#navbar ul {
  padding: 0;
}

#navbar a {
  text-decoration: none;
  color: #ffffff;
  padding: 14px 16px;
  position: relative;
  left: 5%;
  font-family: 'Open Sans', serif;
  font-size: 14px;
}

#navbar h1 {
  text-decoration: none;
  color: #ffffff;
  padding: 14px 16px;
  position: relative;
  display: inline;
  font-family: 'Open Sans', serif;
  font-size: 20px;
}
@media screen and (max-width: 1100px) { 
  #navbar h1 {
    display: block;
    left: 0%;
  }
  #navbar a {
    font-size: 20px;
  }
}
/*************************** NAVBAR ***************************/
#container {
  width: 100%;
  height: 100%;
  background-image: url("https://wallpaperaccess.com/full/1363068.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  display: table;
}
@media screen and (max-width: 1100px) { 
  #container {
    max-height:20%;
    width: 100%;
  }
}
/*************************** FORM ***************************/
#requetes {
  display: flex;
  align-items: center;
  justify-content: center;
}
#requests_form {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

.requests_form_child {
  padding: 0.5em;
}
/*************************** PAGE ***************************/
.presentation-title {
  display: table-cell;
  font-family: 'Dancing Script', serif;
  font-size: 50px;
  text-align: center;
  vertical-align: middle;
  color: #ecf0f1;
}
.title_details {
  font-size: 40px;
  color: #000000;
  position: relative;
  font-weight: 600;
  padding-bottom: -70px;
  height: 100%;
  width: 100%;
  text-align: center;
  padding-top: 50px;
  margin-top: 50px;
  font-family: 'Raleway', serif;
}

.highlight {
  background-color: var(--hcolor);
}

p {
  text-align: center;
  width: 100%;
  font-family: 'Raleway', serif;
}

html footer {
  position: relative;
  bottom: 0;
  width: 100%;
  height: 50px;
  background-color: #2f3640;
  color: #ffffff;
  text-align: center;
  padding-top: 0.5%;
  margin-top: 2%;
  font-family: 'Open Sans', serif;
  font-size: 14px;
}

section {
  padding: 1%;
}
